# common configuration for ALL branches
image: Visual Studio 2022

before_build:
  - nuget restore

build:
  project: SQLiteLibrary\SQLiteLibrary.csproj

platform:
  - Any CPU

configuration:
  - Release

branches:
  only:
  - main

version: 1.9.0.0-{build}

artifacts:
  - path: '**\*.nupkg'

deploy:
  - provider: NuGet
    api_key:
      secure: JlyDRLhIIo/SeWjXA88enGdBJClZGrGm6eV9ugGIeKKDwLKZ6EXDMzlTz5HhM/WH
    skip_symbols: false
    artifact: /.*\.nupkg/
    on:
      APPVEYOR_REPO_TAG: true
