# common configuration for ALL branches
image: Visual Studio 2022

install:
- ps: |
    Invoke-WebRequest -Uri 'https://dot.net/v1/dotnet-install.ps1' -UseBasicParsing -OutFile "$env:temp\dotnet-install.ps1"
    & $env:temp\dotnet-install.ps1 -Architecture x64 -Version '10.0.100' -InstallDir "$env:ProgramFiles\dotnet"
- ps: |
    Invoke-WebRequest -Uri 'https://dot.net/v1/dotnet-install.ps1' -UseBasicParsing -OutFile "$env:temp\dotnet-install.ps1"
    & $env:temp\dotnet-install.ps1 -Architecture x86 -Version '10.0.100' -InstallDir "$env:ProgramFiles\dotnet"

before_build:
  - cmd: dotnet --version
  - nuget restore

build:
  project: SQLiteLibrary\SQLiteLibrary.csproj

platform:
  - Any CPU

configuration:
  - Release

branches:
  only:
  - main

version: 2.0.2.0-{build}

artifacts:
  - path: '**\*.nupkg'

deploy:
  - provider: NuGet
    api_key:
      secure: JlyDRLhIIo/SeWjXA88enGdBJClZGrGm6eV9ugGIeKKDwLKZ6EXDMzlTz5HhM/WH
    skip_symbols: false
    artifact: /.*\.nupkg/
    on:
      APPVEYOR_REPO_TAG: true
